<section class="hero is-medium is-info is-bold">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        How this works!
      </h1>
    </div>
  </div>
</section>

<section class="how-this-works">
  <div class="container has-text-centered">
    <div class="columns">
        <div class="column is-full">
          <h1 class="title"> Sign up! </h1>
          <p>  </p>
          <h2 class="subtitle"> Browse profiles and listings </h2>
          <h1 class="title"> OR.. </h1>
          <h2 class="subtitle"> Create a photographers PROFILE</h2>
          <p>Connect with photographers and search for listings. Each photographer can post listings for services they provide, such as a portrait photography session, a workshop, or even prints! </p>
          <p>Post comments for photographers if you have worked with them before! It's a great way to provide feedback for other users who might be looking for the same service. </p>
        </div>
      </div>
  </div>
</section>