.home {
    .container {
        .overlapping-content {
            .hero-body {
                padding: 2rem;
                .columns {
                    align-items: center;
                    
                    .column.is-half.image {
                        margin-left: 7%;
                    }
                    .column.is-half.content {
                        margin-left: -10%;
                        .title,.subtitle {
                            color: black;
                        }
                    }
                    .column.is-half.image.second {
                        margin-left: 45%;
                    }
                    .column.is-half.content.second {
                        margin-left: -90%;
                        z-index: 1;
                        .title,.subtitle {
                            color: black;
                        }
                    }
                }

                @media screen and (max-width: 767px) {
                    display: block;
                    padding: 0;
                    .columns {
                        align-items: center;

                        .column.is-half.content {
                            margin: -50px 0 0 0;

                            &.second {
                                margin: -50px 0 0 0;
                            }

                            .title,.subtitle {
                                color: black;
                            }
                        }
                        .column.is-half.image {
                            margin: 0;

                            &.second {
                                margin-left: 0;
                            }
                        }
                    }
                }
            }
        }

        .featured-photographers {
            .hero-body {
                padding: 1rem 1rem 2rem;
                .columns.profile {

                    .column {
                        padding: 0;

                        .card {
                            height: 450px;
                            border-radius: 0px;
                        }
                    }
                }
            }
        }

        .categories {
            .hero-body {
                padding: 0;
                .columns.category {
                    justify-content: space-between;
                    margin: 0;

                    .column.category {
                        justify-content: center;
                        padding: 0;

                        .image {
                            max-width: 224px;
                            position: relative;
                        }
                        .category-name {
                            top: 50%;
                            left: 50%;
                            z-index: 1;
                        }
                    }
                    @media screen and (max-width: 767px) {
                        display: flex;
                        flex-wrap: wrap;
                    }
                }
            }
        }

        .home-title {
            text-align: center;
            margin: 2rem 0;
        }
    }
}

.hero.is_primary.title {
    color: black;
}

.navbar-item img {
    max-height: none;
}