@import 'styles/help';
@import 'styles/home';
@import 'styles/listings';
@import 'styles/profile';
@import 'styles/profile_index';
@import 'styles/reviews';
@import 'styles/forms';

.button {
    margin: .2rem;

    .is-orange {
        background-color: rgb(255, 145, 77) 0%
    }
}

.container {
    @media screen and (max-width: 767px) {
        padding: 0 0.75rem;
    }
}

.footer {
    padding: 3rem 1.5rem;
    
    .socials {
        a {
            color: rgb(255, 87, 87);
            font-size: 2rem;
            margin: 0 0.5rem;

            &:hover {
                color: #3298dc;
            }
        }
    }
}